<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="~/assets/css/custom_style.css" />
		<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
	</head>
	<body id="my-body">
		<div id="dashboard-header">
			<div id="dashboard-header-logo">
				<h1>LOGO</h1>
			</div>
			content logo
		</div>
		<div id="dashboard-side-nav">side nav</div>
		<div id="dashboard-content-container">
			<div id="dashboard-content-main">@RenderBody()</div>
		</div>
	</body>
	@await RenderSectionAsync("Scripts", required: false)
</html>