<html>
	<head>
		<link rel="stylesheet" href="~/assets/css/custom_style.css" />
		<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/assetsAdmin/css/app.min.css">
	</head>
	<body>
		@RenderBody()
	</body>
</html>